/* checkbox */

.checkbox {
  display: block;
  text-align: center;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $color-title;
  margin-right: 8px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  width: 15px;
  height: 15px;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__label:checked + .checkbox__icon {
  background-size: contain;
  background-origin: border-box;
  background-color: $color-blue;
  background-image: url('../images/icon-check.svg');
  border-color: $color-blue;
  border-radius: 2px;
}

.checkbox__text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;

  color: $color-text;
}

.checkbox__contract {
  font-size: 14px;
  line-height: 1.7;

  text-decoration-line: underline;

  color: $color-blue;
}
